backend/node_modules/
backend/.env
backend/dist/
backend/coverage/
backend/*.log


frontend_android/.gradle/
frontend_android/build/
frontend_android/captures/
frontend_android/.externalNativeBuild/
frontend_android/local.properties
frontend_android/*.iml
frontend_android/.idea/
frontend_android/captures/
frontend_android/.cxx/
frontend_android/*.apk
frontend_android/output.json
frontend_android/*.log
frontend_web/node_modules/
frontend_web/public/.next/
frontend_web/out/
frontend_web/build/
frontend_web/npm-debug.log*
frontend_web/yarn-debug.log*
frontend_web/yarn-error.log*
frontend_web/.idea/
frontend_web/.vscode/
backend/node_modules/
backend/dist/
backend/build/
backend/.env
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/.idea/
backend/.vscode/
